header{
	background-color: #B3B3B3;
}
h1,h2{
	text-transform:uppercase;
}
h2{
	color:rgb(0,0,128);
}
h1{
	color:#ffffff;
	text-align:center;
}
img{
	display:none;
}
section{
	background-color: #7F7F7F;
}
a{
	background-color: #C5C5C5;
	color:#000000;
	text-align:center;
}